<!-- todo i18n -->
<form [formGroup]="form">
    <h1>{{ 'login.register' | translate }}</h1>
    <mat-error *ngIf="registerWrong">
        {{ registerWrong | translate }}
    </mat-error>
    <mat-form-field>
        <input matInput type="text" formControlName="username" [placeholder]="'login.username' | translate" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" formControlName="password" [placeholder]="'login.password' | translate" required>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" (click)="register()" [disabled]="!form.valid">{{ 'login.register' | translate }}</button>
    <button mat-flat-button color="secondary" type="submit" (click)="login()">{{ 'login.loginInstead' | translate }}</button>
</form>