<form [formGroup]="form" *showSpinner="showSpinner">
    <h1>{{ 'runDetails.runDetails' | translate }}</h1>
    <mat-form-field>
        <input matInput type="text" formControlName="title" [placeholder]="'runDetails.title' | translate" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'runDetails.startTime' | translate }}</mat-label>
        <input matInput formControlName="startTime" [max]="maxDate" [min]="minDate" [ngxMatDatetimePicker]="picker" required>
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker>
        </ngx-mat-datetime-picker>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" min="1" formControlName="length" [placeholder]="'runDetails.length' | translate" required>
        <span matSuffix>m</span>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" min="1" formControlName="duration" [placeholder]="'runDetails.duration' | translate" required>
        <span matSuffix>min</span>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" min="0" formControlName="altitude" [placeholder]="'runDetails.altitude' | translate" required>
        <span matSuffix>m</span>
    </mat-form-field>
    <app-maps *ngIf="form.value.gpxFileId" [gpxFileId]="form.value.gpxFileId" class="map"></app-maps>
    <mat-error *ngIf="fileError">
        {{ 'error.GpxFile_FileNotValid' | translate }}
    </mat-error>
    <div class="fileUpload" *ngIf="!form.controls.gpxFile.disabled; else fileInfo">
        <mat-form-field>
            <ngx-mat-file-input [placeholder]="'runDetails.gpxFile' | translate" formControlName="gpxFile" accept=".gpx" (change)="fileChanged($event)">
            </ngx-mat-file-input>
            <mat-icon matSuffix aria-hidden="false">attach_file</mat-icon>
        </mat-form-field>
        <button *ngIf="form.value.gpxFileId" mat-flat-button color="secondary" type="submit" (click)="deleteFile()">
            <mat-icon aria-hidden="false">delete</mat-icon>
        </button>
    </div>
    <ng-template #fileInfo>
        <button mat-flat-button color="secondary" type="submit" (click)="deleteFile()">
            {{ 'runDetails.deleteGpxFile' | translate }}
        </button>
    </ng-template>
</form>
<ng-container *ngIf="(notes$ | async) as notes">
    <form *ngFor="let note of notes" [formGroup]="note" class="note">
        <mat-form-field>
            <input matInput type="text" formControlName="note" [placeholder]="'runDetails.note' | translate">
        </mat-form-field>
        <button *ngIf="note.value.savedOnDb" mat-flat-button color="secondary" type="submit" (click)="deleteNote(note.value.id)">
            <mat-icon aria-hidden="false">delete</mat-icon>
        </button>
    </form>
</ng-container>
<div class="buttons">
    <button *ngIf="isSet" mat-flat-button color="primary" type="submit" (click)="addNote()">
        <mat-icon aria-hidden="false">add</mat-icon>
    </button>
    <button mat-flat-button color="primary" type="submit" (click)="save()" [disabled]="!form.valid || !form.dirty">
        <mat-icon aria-hidden="false">save</mat-icon>
    </button>
    <button mat-flat-button color="secondary" type="submit" (click)="cancel()" [disabled]="!form.dirty">
        <mat-icon aria-hidden="false">close</mat-icon>
    </button>
    <button mat-flat-button color="secondary" type="submit" (click)="back()">
        <mat-icon aria-hidden="false">chevron_left</mat-icon>
    </button>
</div>