<ng-container *ngIf="myRuns$ | async as runs">
    <mat-card *ngFor="let run of runs">
        <mat-card-title>{{ run.title }}</mat-card-title>
        <mat-card-subtitle>{{ run.startTime | date :'short' }}</mat-card-subtitle>
        <mat-card-content>
            <p *ngIf="run.length">{{ 'runDetails.length' | translate }}: {{ run.length }}m</p>
            <p *ngIf="run.duration">{{ 'runDetails.duration' | translate }}: {{ run.duration }}min</p>
            <p *ngIf="run.altitude">{{ 'runDetails.altitude' | translate }}: {{ run.altitude }}m</p>
          </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button color="primary" (click)="details(run.id)">
            <mat-icon aria-hidden="false">edit</mat-icon>
          </button>
          <button mat-button color="secondary" (click)="delete(run.id)">
            <mat-icon aria-hidden="false">delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
</ng-container>
<button mat-flat-button color="primary" type="submit" (click)="add()">
  <mat-icon aria-hidden="false">add</mat-icon>
</button>