<ng-container *ngIf="myRuns$ | async as runs">
    <mat-card *ngFor="let run of runs">
        <mat-card-title>{{ run.title }}</mat-card-title>
        <mat-card-subtitle>{{ run.startTime | date :'short' }}</mat-card-subtitle>
        <mat-card-content>
            <p *ngIf="run.length">{{ 'myRuns.length' | translate }}: {{ run.length }}m</p>
            <p *ngIf="run.duration">{{ 'myRuns.duration' | translate }}: {{ run.duration }}min</p>
            <p *ngIf="run.altitude">{{ 'myRuns.altitude' | translate }}: {{ run.altitude }}m</p>
          </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button color="primary" (click)="details(run.id)">{{ 'framework.edit' | translate }}</button>
          <button mat-button color="secondary" (click)="delete(run.id)">{{ 'framework.delete' | translate }}</button>
          <button *ngIf="run.gpxFileId" mat-button color="secondary" (click)="gpxFile(run.gpxFileId)">{{ 'runDetails.gpxFile' | translate }}</button>
        </mat-card-actions>
      </mat-card>
</ng-container>
<button mat-flat-button color="primary" type="submit" (click)="add()">{{ 'framework.add' | translate }}</button>